div{
    border-style: solid;
    border-width: 5px;
    border-color: darkkhaki;
    padding: 30px;
}
.container{
    border-color: silver
}
.row{
    border-color: gold
}
body{
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQndqcK8-OaSlFb7PSnoAzNVp2bKcdtNGghd-iGpQUlgRcfEi-__w)
}